@font-face {
    font-family: drugs-font;
    src: url('drugs/Drugs.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'drugs-font';
}

body {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 15rem;
    height: auto;
    margin-top: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: rgb(181, 181, 181);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

label {
    color: rgb(65, 65, 65);
}

#username, #email, #password {
    width: 14rem;
    border: 1px solid rgb(4, 4, 64);
    background-color: aliceblue;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 50px;
    outline: none;
    color: rgb(48, 47, 47);
}

#username, #email {
    margin-bottom: 1rem;
}

#msg-1, #msg-2, #msg-3 {
    display: none;
    text-align: start;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    width: 14rem;
    color: red;
    margin-left: -1rem;
}

.gender, .role {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 14rem;
    margin-top: 2rem;
}

.male, .female, .admin, .client {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5rem;
}

#gender, #role, #male, #female, #admin, #client {
    color: rgb(4, 4, 64);
    font-size: 0.9rem;
}

button {
    width: 5rem;
    margin-top: 2.5rem;
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 0rem;
    border: 1px solid rgb(4, 4, 64);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(0, 4, 133);
}

#admin-key-container {
    margin-top: 2rem;
}

#admin-key {
    width: 7rem;
    background-color: aliceblue;
    border: 1px solid rgb(4, 4, 64);
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;

}

#admin-key-msg {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}